@font-face {
  font-family: myFirstFont;
  src: url(pokemon-hollow.ttf);
}

@font-face {
  font-family: mySolidFont;
  src: url(pokemon-solid.ttf);
}

@font-face {
  font-family: mySecondFont;
  src: url(pokemon-gb.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  color: rgb(221, 221, 221);
  font-family: mySecondFont;
  font-size: 10px;
}

/* Header */

header {
  background-color: rgb(15, 26, 23);
  position: fixed;
  display: flex;
  width: 100%;
  height: 60px;
  padding: 0 80px;
  align-items: center;
  z-index: 20;
  justify-content: space-between;
}

header h1 {
  font-family: myFirstFont;
  font-size: 30px;
  padding: 100px;
}

header img {
  width: 48px;
  padding-left: 20px;
}

/* Main */
/* Arena */
body {
  background-image: url("../img/fundo.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 60.2px;
  background-size: 100vh 61.4vh;
}

.versus {
  background-color: rgb(206, 98, 59);
  width: 120px;
  height: 120px;
  margin: 15.55% 44.55%;
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

/* Inventário */
.inventario {
  background-color: rgb(141, 91, 57);
  display: flex;
  align-items: center;
  width: 100vh;
  position: fixed;
  bottom: -2px;
  padding: 6px 0;
  justify-content: space-evenly;
  border: solid 6px rgb(102, 53, 40);
}

.inventario > .option {
  border: solid 6px rgb(102, 53, 40);
  background-color: rgb(97, 65, 47);
  border-radius: 5.75%;
  padding: 12px 40px;
  min-height: 190px;
  height: 100%;
  cursor: pointer;
}

.inventario > .option:hover {
  border: solid 6px rgba(7, 84, 90, 0.5);
  background-color: rgb(4, 54, 54, 0.5);
}

.inventario > .selected {
  border: solid 6px rgb(7, 84, 90);
  background-color: rgb(4, 54, 54);
}

.inventario > .option > div {
  justify-content: space-evenly;
  text-align: center;
}

/* button */
#battle-btn {
  /* background-color: rgb(102, 53, 40); */
  border-radius: 50%;
  border: none;
  color: rgb(95, 95, 95);
  font-weight: 800;
  width: 80px;
  height: 45px;
  position: absolute;
  margin: 0px;
  top: 65%;
  right: 47.8%;
  cursor: pointer;
}

/* Responsivo */
@media screen and (max-width: 1131px) {
  .versus {
    top: -6%;
    right: 1.8%;
  }
}

@media screen and (max-width: 908px) {
  .versus {
    margin: 28.55% 42%;
  }

  #battle-btn {
    /* background-color: rgb(102, 53, 40); */
    border-radius: 50%;
    border: none;
    color: rgb(95, 95, 95);
    font-weight: 800;
    width: 80px;
    height: 45px;
    position: absolute;
    margin: 0px;
    top: 65%;
    right: 45%;
    cursor: pointer;
  }
}
